*{
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
}
@media only screen and (min-width: 1920px) {
  html {
    font-size: 100px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  html {
    font-size: 100px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1600px) {
  html {
    font-size: 83px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1440px) {
  html {
    font-size: 75px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
  html {
    font-size: 70px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 66px;
  }
}
html, body, .container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.time1{
	/*backdrop-filter: blur(100px);*/
	font-size: 9px;
	position: absolute;
	left: 45px;
	top: 20.2%;
	color: white;
	z-index: 1000;
	/*-webkit-transform: scale(0.85);*/
}

.container{
	font-size: .14rem;
	padding: 8.5vh 1.5vw 1.5vw 1.5vw;
	box-sizing: border-box;
	background: url(../images/bg.jpg) no-repeat center center;
	background-size: 100% 100%;
	position: relative;
}
.time{
	position: absolute;
	top: 3.4vh;
	left: 4vw;
	font-size: .24rem;
	color: #0077FF;
}
.container .main{
	width: 100%;
	display: box;
	display: -webkit-box;
}

.video{
	width: 27.8vw;
	height: 12.8vw;
	/*border: 1px solid white;*/
}

.video video{
	width: 100%;
	height: 100%;
	object-fit:fill;
}

.message{
	margin-left: 0.3vw;;
	width: 30vw;
	height: 5vh;
	/*border: 1px solid white;*/
	/*vertical-align: center;*/
}

.video_ul{
	float: left;
	width: 14vw;
}
.video_ul li{
	color: white;
	font-weight: bolder;
}
.video_ul li span{
	float: left;
}
.thisArea{
	overflow: hidden;
	white-space:nowrap;
	width: 150px;
	height: auto;
}
.contentText{
	/*animation: 10s wordsLoop linear infinite normal;*/
}
/*文字滚动*/
@-webkit-keyframes wordsLoop {
	0% {
		transform: translateX(-10%);
	}
	50%{
		transform: translateX(5%);
	}
	100%{
		transform: translateX(-35%);
	}
}

.main .left,.main .right{
	width: 29.4vw;
	height: 91.5vh;
}
.main .mid{
	width: 38.2vw;
	height: 91.5vh;
}
.main .section{
	width: 100%;
	height: 28.2vh;
	padding: 1.5vh;
	box-sizing: border-box;
	margin-top: 1.2vh;
	background: url(../images/kuang.png) no-repeat center center;
	background-size: 100% 100%;
}

.section .tit{
	font-weight: bold;
	font-size: .2rem;
	color: #fff;
	padding-left: .25rem;
	background: url(../images/tit.png) no-repeat left center;
	background-size: .16rem .26rem;
}
.main .section_netOrg{
	width: 100%;
	height: 34.5vh;
	padding: 1.5vh;
	box-sizing: border-box;
	margin-top: 1.2vh;
	background: url(../images/kuang.png) no-repeat center center;
	background-size: 100% 100%;
}
.section_netOrg .tit{
	font-weight: bold;
	font-size: .2rem;
	color: #fff;
	padding-left: .25rem;
	background: url(../images/tit.png) no-repeat left center;
	background-size: .16rem .26rem;
}

.main .section_business{
	width: 100%;
	/*height: 21.7vh;*/
	height: 51.5vh;
	padding: 1.5vh;
	box-sizing: border-box;
	margin-top: 1.2vh;
	background: url(../images/kuang.png) no-repeat center center;
	background-size: 100% 100%;
}
.section_business .tit{
	font-weight: bold;
	font-size: .2rem;
	color: #fff;
	padding-left: .25rem;
	background: url(../images/tit.png) no-repeat left center;
	background-size: .16rem .26rem;
}

.login{
	position: relative;
	padding-top: 1.4vh;
	font-size: .16rem;
	color: #266EDD;
}
.login .thead,.login .list,.login .list ul,.login .list li{
	width: 100%;
}
.login .thead,.login .list li{
	height: 3vh;
	line-height: 3vh;
	text-align: center;
	display: box;
	display: -webkit-box;
}
.login .thead{
	color: #fff;
	background: url(../images/t-head.png) no-repeat center center;
	background-size: 100% 100%;
}
.login .list{
	height: 18vh;
	/*background: url(../images/t-body.png) repeat-y top center;
	background-size: 100% 3vh;*/
	overflow: hidden;
	position: relative;
}
.login .inner-list{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.login .inner-list li{
	background: url(../images/t-body.png) no-repeat center center;
	background-size: 100% 100%;
}
.login .thead div,.login .list li div{
	width: 37%;
}
.login .thead div:first-child,.login .list li div:first-child{
	width: 26%;
}


.business{
	position: relative;
	padding-top: 1.4vh;
	font-size: .16rem;
	/*color: #266EDD;*/
	color: #92ffe4;
}
.business .thead,.business .list,.business .list ul,.business .list li{
	width: 100%;
}
.business .thead,.business .list li{
	height: 5vh;
	line-height: 5vh;
	text-align: center;
	display: box;
	display: -webkit-box;
}
.business .thead{
	color: #fff;
	background: url(../images/t-head.png) no-repeat center center;
	background-size: 100% 100%;
}
.business .list{
	height: 40vh;
	/*background: url(../images/t-body.png) repeat-y top center;
	background-size: 100% 3vh;*/
	overflow: hidden;
	position: relative;
}
.business .inner-list{
	width: 100%;
	position: absolute;
	/*bottom: 0;*/
	left: 0;
}
.business .inner-list li{
	background: url(../images/t-body.png) no-repeat center center;
	background-size: 100% 100%;
}
.business .thead div,.business .list li div{
	width: 25%;
}
.business .thead div:first-child,.business .list li div:first-child{
	width: 15%;
}
.business .thead div:last-child,.business .list li div:last-child{
	width: 35%;
}


.mid .top-wrap{
	width: 100%;
	height: 30vh;
	overflow: hidden;
}
.mid .top-wrap .item{
	padding-top: 3vh;
	font-size: .24rem;
	/*color: #8FA6C6;*/
	color: white;
}
.top-wrap .left{
	width: 50%;
	padding-left: 1vw;
	box-sizing: border-box;
	float:left;
}
.top-wrap .right{
	width: 50%;
	float: right;
}
.top-wrap .number{
	font-weight: bold;
	/*color: #2772E5;*/
	color: #92ffe4;
}
.top-wrap .number span{
	font-size: .46rem;
}
.outer{
	padding: 1.5vh 0 1.5vh .25rem;
	box-sizing: border-box;
}
.outer .item{
	width: 100%;
	height: 2.7vh;
	line-height: 2.7vh;
	display: box;
	display: -webkit-box;
}
.outer .name{
	width: 25%;
	color: #8DA6C4;
}
.outer .val{
	width: 60%;
	height: 1.5vh;
	transform:skew(-45deg) translateY(0.6vh);
	background: #0E1D54;
	overflow: hidden;
}
.outer .val .inner{
	/*width: 50%;*/
	height: 1.5vh;
	background: #1773FC;
}
.outer .num{
	padding-left: .2rem;
	color: #8DA6C4;
}
.outer .name span{
	display: inline-block;
	width: 1vw;
	height: 1vw;
	text-align: center;
	line-height: 1vw;
	margin-right: 0.5vw;
	border-radius: 50%;
}
.list1 .name span{
	color:#902601;
}
.list1 .item:first-child .name span{
	background: #FCBA05;
}
.list1 .item:nth-child(2) .name span{
	background: #C5C4C8;
}
.list1 .item:nth-child(3) .name span{
	background: #EB8422;
}
.list1 .item:first-child .inner{
	background: #FFC300;
}
.list1 .item:nth-child(2) .inner{
	background: #0FCEA3;
}
.list1 .item:nth-child(3) .inner{
	background: #EA69A2;
}
.list2{
	height: 13.5vh;
	overflow: hidden;
	position: relative;
}
.other-data{
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
}

.myMap{
	transform: scaleY(0.85);
}

.logo{
	width: 12vw;
	width: 13vh;
	position: absolute;
	top: 2.6vh;
	right: 5vw;
	font-size: .24rem;
	color: #0077FF;
}
.logo img{
	width: 100%;
	height: 100%;
}

#MIaddTody{
	margin-left: 0.5vw;
	font-size: 10px;
	color: #266EDD;
}
#MCaddTody{
	margin-left: 0.5vw;
	font-size: 10px;
	color: #266EDD;
}
#MOaddTody{
	margin-left: 0.5vw;
	font-size: 10px;
	color: #266EDD;
}
#MLaddTody{
	margin-left: 0.5vw;
	font-size: 10px;
	color: #266EDD;
}


